.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 0.4rem;
  border-radius: 0.4rem;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 100%;
  border-radius: 0.4rem;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: .8rem;
  transform: translateX(-50%);
}
