.gitHubDisclaimerContainer {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  gap: 1rem;
  color: var(--text-highlight);
}

.gitHubDisclaimerContainer strong {
  width: 60%;
  line-height: 1.6rem;
  font-weight: 600;
}
