.rankingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.rankingContainer h1 {
  margin: 2rem 0;
  color: var(--title);
}

.rankingContainer header {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr 2fr;
  width: 100%;
  text-transform: uppercase;
  font-size: .8rem;
}

.rankingContainer header strong:nth-child(2) {
  margin-left: 1rem;
}

.rankingContainer main {
  width: 100%;
}

.loadingSpinner {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
