:root {
  --white: #FFF;
  --background: #F2F3F5;
  --gray-line: #DCDDE0;
  --text: #666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4CD62B;
  --blue: #5965E0;
  --blue-dark: #4553B8;
  --blue-twitter: #2AA9E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-size: 60%;
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.increase-experience-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.increase-experience-box h1 {
  line-height: 3.2rem;
  color: var(--title);
}

.increase-experience-box strong {
  line-height: 1.6rem;
  color: var(--text);
}

.increase-experience-box .input-group {
  display: flex;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  gap: .8rem;
}

.input-group input {
  flex: 1;
  padding: 0 1.2rem;
  border: 0;
  border-radius: .4rem;
  transition: all .3s;
}

.input-group input:hover {
  border: solid .4rem var(--gray-line);
}

.input-group input:focus {
  border: solid .4rem var(--gray-line);
}

.input-group button {
  border: 0;
  border-radius: .4rem;
  padding: 0 1.2rem;
  color: var(--white);
  transition: all .3s;
}

.input-group #increase {
  background: var(--green);
}

.input-group #increase:hover {
  opacity: 50%;
}

.input-group #decrease {
  background: var(--red);
}

.input-group #decrease:hover {
  opacity: 50%;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }

  .increase-experience-box .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group input {
    padding: 1.2rem;
  }

  .input-group button {
    padding: 1.2rem;
  }
}
